@font-face {font-family:"Harry Potter";url:'("HARRP___.svg#HarryPotter") format("svg");font-weight:normal;font-style:normal;'}


.App {
  text-align: center;
  font-family: 'Trykker', serif;
  font-size: 10px;
  color: white;
  background-image: url('./images/hogwarts12.jpg');
  background-position: initial;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  overflow: scroll;
  margin: 0%;
  padding: 0%;
}

.title {
  margin: 20px;
  padding: 2px; 
  font-family:'declared font name';
  // font-family: 'Chelsea Market', cursive;
  font-size: 20px;
}
