.search-engine__container{
  border: none;
  margin: 10px;
  padding: 10p;
}

.input__container {
    height: 20px;
    width: 400px;
    margin: 5px 20px;
}

.invitation__title {
    font-size: 14px;
    margin-top: 10px;
}